main {
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;

  text-align: center;
}

.sc-cate {
  display: block;
  font-family: $font-en;
  font-size: 14px;
  padding-bottom: 15px;
}

.sc-title {
  padding: 0 20px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -1px;
}

.sc-headline {
  display: block;
  padding: 15px 40px 40px;
  font-size: 18px;
  line-height: 24px;
  word-break: keep-all;
}

.sc-desc {
  display: block;
  padding: 50px 40px;
  line-height: 24px;
  word-break: keep-all;
}

.sc-link {
  display: inline-block;

  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 15px;

  font-size: 14px;

  &:hover {
    border-color: #fff;
    background: #fff;
    color: #000;
  }
}

.intro {
  position: relative;

  &-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;

    font-family: $font-intro;
    color: rgba(255,255,255,.8);  
    font-size: 40vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    white-space: nowrap;

    z-index: 4;

    pointer-events: none;
  }

  &-bg-01{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;      
    background: #000;
    z-index: 3;
  }

  &-frame {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;

    top: 0;
    z-index: 5;

    &.js-intro-frame-01{
      position: relative;
      img{
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &.js-intro-frame-02 {
      background: #bcb1e5;      
      z-index: 2;
    }
  
    &.js-intro-frame-03 {
      background: #ebc5b9;  
      z-index: 1;
    }
    
    &.js-intro-frame-04 {
      background: #000; 
      z-index: 10;
    }
  
  }

  &-figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;

    box-sizing: border-box;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      width: 100%;
      max-width: 450px;
    }
  }
  
  &-text {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 40;

    pointer-events: none;
  }
  &-overlay {
    overflow: hidden;

    em {
      display: block;
      margin-top: 30px;
      font-family: $font-en;
      font-size: 3vh;
      font-weight: bold;
    }
  }
  
  &-word {
    display: block;
    width: 100%;
    font-family: $font-en;
    font-size: 8vh;
    line-height: 1.2;
    text-align: center;
  }

}

.goods {
  margin-top: 50px;
  padding: 0 20px;

  &-item+&-item {
    margin-top: 60px;
  }

  &-figure {
    overflow: hidden;
    margin-bottom: 20px;

    &-wrap {
      padding: 20px;
      border-radius: 15px;
    }

    img {
      display: block;
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
  }

  &-text {
    text-align: center;
  }

  &-cate {
    display: block;
    font-family: $font-en;
    font-size: 14px;
    padding-bottom: 15px;
    font-weight: 300;
  }

  &-title {
    display: block;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    word-break: keep-all;
  }

  &-name {
    font-family: $font-en;
    font-size: 18px;
    font-weight: 300;
  }

  &-price {
    display: block;
    padding: 25px 0;
    font-size: 15px;

    em {
      font-weight: bold;
    }
  }
}

.studio {
  margin-top: 100px;
  text-align: center;

  .rolling {
    position: relative;
    overflow: hidden;

    &-shadow-top {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;

      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
      z-index: 10;
    }

    &-shadow-btm {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;

      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
      z-index: 10;
    }

    &-list {
      display: flex;
      position: relative;
      overflow: hidden;

      width: 200%;

      transform-origin: top right;
      transform: translateX(-50%) rotate(-15deg);
    }

    &-col {
      display: flex;
      width: 40%;
      flex-direction: column;
    }

    &-item {
      padding: 10px;

      .item-inr {
        position: relative;
        padding-bottom: 100%;
        border-radius: 25px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
      }
    }
  }
}

.face {
  padding-top: 80px;
  &-headline {
    padding: 25px 10px 40px;
  }

  &-item {
    position: relative;
  }
  
  &-frame {    
    height: 300px;

    z-index: 10;

    img {height: 100%;}
  }

  &-screens{
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 146px;
    height: 146px;
    margin-left: -3px;
    border-radius: 50%;
    
    transform: translate(-50%, -50%);
  }
  &-track {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &-screen {
    width: 146px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.challenge {
  padding-top: 60px;

  &-item {
    position: relative;
    max-width: 360px;
    margin: 0 auto;
  }

  &-watch {
    height: 300px;

    img {
      height: 100%;
    }
  }

  &-user {
    position: absolute;
    border: 4px solid #0bcd6c;
    border-radius: 50%;
    transform: scale(0.6);

    &.js-user-01 {
      top: -10%;
      left: -10%;
    }

    &.js-user-02 {
      bottom: -5%;
      right: -3%;
    }
  }

}

.sleep{
  padding-top: 60px;

  background: #fff;
  color: #000;

  &-item{
    position: relative;
  }
  
  &-frame{
    height: 300px;    
    img{height: 100%;}
  }

  &-screens{    
    position: absolute;
    top: 11%; left: 50%;
    width: 130px;
    transform: translateX(-96%);
    img{
      opacity: 0;
      position: absolute;
      top: 0; left: 0;
      width: 100%; 
    }
  }
}

.analysis{
  padding: 60px 0;
  
  &-item{
    position: relative;
    overflow: hidden;
  }
  
  &-frame{
    position: relative;
    height: 300px;    
    z-index: 10;
    img{height: 100%;}
  }

  &-screen{    
    position: absolute;
    top: 50%; left: 50%;
    width: 170px;
    transform: translate(-50%, -15%);    
    img{
      width: 100%;
    }
  }
}

.os {
  position: relative;
  padding-top: 60px;
  &-item {
    position: relative;
    padding: 120px 0;    
  }
  
  &-frame{    
    position: relative;
    height: 300px;
    z-index: 10;
    img {
      height: 100%;
    }
  }

  &-circle{
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);

    height: 150vw;
    max-height: 500px;

    z-index: 5;
  }

  
  &-line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom center;

    height: 50%;        
  }

  &-app-box{
    overflow: hidden;

    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &-app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}